<?xml version="1.0" encoding="utf-8"?>
<!-- Wintap v6 prerelease configuration -->
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="gov.llnl.wintap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <gov.llnl.wintap.Properties.Settings>
            <setting name="LoggingLevel" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ApiPort" serializeAs="String">
                <value>8099</value>
            </setting>
            <setting name="LoggingMode" serializeAs="String">
                <value>Overwrite</value>
            </setting>
            <setting name="EnableWorkbench" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Profile" serializeAs="String">
                <value>Developer</value>
            </setting>
            <setting name="ProcessCollector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileCollector" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TcpCollector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UdpCollector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MicrosoftWindowsKernelRegistryCollector" serializeAs="String">
                <value>False</value>
            </setting>
            <!-- SensCollector collects user logon/logoff and screenlock activities -->
            <setting name="SensCollector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageLoadCollector" serializeAs="String">
                <value>False</value>
            </setting>
          <!-- MicrosoftWindowsKernelProcessCollector enhances Process collect with resource utilization statistics (memory, cpu, etc.) emitted by ETW on process termination  -->
            <setting name="MicrosoftWindowsKernelProcessCollector" serializeAs="String">
                <value>False</value>
            </setting>
          <!-- MicrosoftWindowsWin32kCollector collects Windows UI events:  process focus change, and wait cursor  -->
            <setting name="MicrosoftWindowsWin32kCollector" serializeAs="String">
                <value>False</value>
            </setting>
          <!-- GenericProviders collects data from arbitrary ETW providers specified here.  example: <string>Microsoft-Windows-DNS-Client</string> -->
            <setting name="GenericProviders" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MicrosoftWindowsWMIActivityCollector" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExemptPlugins" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>mfabypass.dll</string>
                        <string>authlogger.dll</string>
                        <string>ears.dll</string>
                        <string>badgealarm.dll</string>
                    </ArrayOfString>
                </value>
            </setting>
            <!-- MicrosoftWindowsCpuTriggerCollector collects per-process CPU utilization metrics. -->
            <setting name="MicrosoftWindowsCpuTriggerCollector" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MicrosoftWindowsKernelMemoryCollector" serializeAs="String">
                <value>False</value>
            </setting>
        </gov.llnl.wintap.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup></configuration>
