<div>
    <div class="col-12 xl:col-12">
        <div class="card">
            <span class="block text-500 font-medium mb-3">ETW Providers</span>
            <p>Total Rows: {{ providerListing.length }}</p>
            <p-table #dt1 [value]="providerListing" dataKey="ProviderName" [rows]="10" [loading]="loading" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['ProviderName']" responsiveLayout="scroll" selectionMode="single" [(selection)]="selectedProvider">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Provider Name
                                <p-columnFilter type="text" field="ProviderName" display="menu" placeholder="Search by name"></p-columnFilter>
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No statements found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">Loading Providers. Please wait.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-selectedSample>
                    <tr [pSelectableRow]="selectedSample">
                        <td>{{ selectedSample.ProviderName }}</td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="card" id="btnDiv">
                <div class="flex flex-wrap gap-2">
                    <button pButton pRipple type="button" label="Start" class="p-button-success" icon="pi pi-play" (click)="startProvider()" ></button>
                    <button pButton pRipple type="button" label="Stop" class="p-button-warning" icon="pi pi-stop" (click)="stopProvider()" ></button>
                  </div>                  
            </div>
        </div>       
    </div>
<div class="grid">
    <div class="col-12 xl:col-12">
        <div class="card">
            <span class="block text-500 font-medium mb-3">Events</span>
            <p>Total Rows: {{ etwSamples.length }}</p>
            <p-table #dt2 [value]="etwSamples" dataKey="SampleId" [rows]="10" [loading]="loading" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['Message']" responsiveLayout="scroll" selectionMode="single" [(selection)]="selectedSample">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt2)"></button>
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter2 (input)="onGlobalFilter2(dt2, $event)" placeholder="Search Keyword" class="w-full" />
                        </span>
                    </div>
                    <p style="font-weight: normal; text-align: right;">Filtered Rows: {{ dt2.totalRecords }}</p>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Provider Name
                                <p-columnFilter #searchBox type="text" field="ProviderName" display="menu" placeholder="Search by name"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Event Name
                                <p-columnFilter field="EventName" display="menu">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown [options]="eventNameOptions" 
                                                    (onChange)="filter($event.value)" 
                                                    [style]="{'width':'100%'}" 
                                                    [showClear]="true">
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th>
                                              
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Message
                                <p-columnFilter type="text" field="Message" display="menu" placeholder=""></p-columnFilter>
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No events received</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">Loading ETW data. Please wait.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-etwSample>
                    <tr [pSelectableRow]="etwSample">
                        <td>{{ etwSample.ProviderName }}</td>
                        <td>{{ etwSample.EventName }}</td>
                        <td>{{ etwSample.Message }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    </div>
    
    <div class="col-12 xl:col-12">
        <div class="card">       
        </div>
    </div>
</div>


  
  
