<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="gov.llnl.wintap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <gov.llnl.wintap.Properties.Settings>
            <setting name="LoggingLevel" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ApiPort" serializeAs="String">
                <value>8099</value>
            </setting>
            <setting name="LoggingMode" serializeAs="String">
                <value>Overwrite</value>
            </setting>
            <setting name="EnableWorkbench" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProcessCollector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileCollector" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TcpCollector" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UdpCollector" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MicrosoftWindowsKernelRegistryCollector" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SensCollector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageLoadCollector" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MicrosoftWindowsKernelProcessCollector" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MicrosoftWindowsWin32kCollector" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MicrosoftWindowsWMIActivityCollector" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowsEventlogCollector" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MicrosoftWindowsCpuTriggerCollector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WebActivityCollector" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenericProviders" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="MicrosoftWindowsGroupPolicyCollector" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CollectFileRead" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CollectRegistryRead" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Profile" serializeAs="String">
                <value>Production</value>
            </setting>
            <setting name="ConfigVersion" serializeAs="String">
                <value>1.0.0.0</value>
            </setting>
            <setting name="KernelAPICallCollector" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MEMORY_MAPCollector" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinRelevance" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="SystemPrompt" serializeAs="String">
                <value>You are an AI assistant that analyzes and interprets host-based Windows telemetry and offers guidance to improve performance and security of the system.</value>
            </setting>
            <setting name="ModelId" serializeAs="String">
                <value>phi3</value>
            </setting>
        </gov.llnl.wintap.Properties.Settings>
    </userSettings>
</configuration>