<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="gov.llnl.wintap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <gov.llnl.wintap.Properties.Settings>
            <setting name="LoggingLevel" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ApiPort" serializeAs="String">
                <value>8099</value>
            </setting>
            <setting name="LoggingMode" serializeAs="String">
                <value>Overwrite</value>
            </setting>
            <setting name="EnableWorkbench" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileSensor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TcpSensor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UdpSensor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegistrySensor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SensSensor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageLoadSensor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UISensor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WMISensor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EventlogSensor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CpuTriggerSensor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenericProviders" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="GroupPolicySensor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CollectFileRead" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CollectRegistryRead" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Profile" serializeAs="String">
                <value>Production</value>
            </setting>
            <setting name="ConfigVersion" serializeAs="String">
                <value>1.0.0.0</value>
            </setting>
            <setting name="ApiCallSensor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MemoryMapSensor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AiApiUrl" serializeAs="String">
                <value>http://localhost:11434</value>
            </setting>
            <setting name="AiApiKey" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="AiModel" serializeAs="String">
                <value>none</value>
            </setting>
        </gov.llnl.wintap.Properties.Settings>
    </userSettings>
</configuration>
